.axisItem {
    margin-bottom: 0.5rem;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    position: relative;
}

.axisTitle {
    color: rgba(130, 130, 130, 0.45);
    padding-left: 0.5rem;
    border-bottom: 1px solid #f0f0f0;
}

.axisTags {
    padding: 0.5rem;
}

.axisDragIcon {
    position: absolute;
    top: 0;
    right: 0;
    line-height: normal;
    padding-right: 2px;
}
