.axisItem {
    margin-bottom: 0.5rem;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    position: relative;
    background-color: white;
}

.isAxisItemDraggableNow {
    border: 1px solid #289bd6;
    background-color: white;

    -webkit-box-shadow: 0px 10px 30px 0px #e6e6e6;
    -moz-box-shadow: 0px 10px 30px 0px #e6e6e6;
    box-shadow: 0px 10px 30px 0px #e6e6e6;
}

.axisTitle {
    color: rgba(130, 130, 130, 0.45);
    padding-left: 0.5rem;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.axisTags {
    padding: 0.5rem;
}

.axisDragIcon {
    padding-right: 2px;
}
