.layout {
    height: calc(100% - 1rem);
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chartLayout {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.chart {
    /* height: 2000px; */
}

.chartDateAxis {
    height: 3rem;
    width: 100%;
}
